/* Configuration de base */

:root {
    --initial: 50%;
    --muted: 66%;
    --dark: 25%;

    --main: 31, 93%;
    --main-initial: hsl(var(--main), var(--initial));
    --main-muted: hsl(var(--main), var(--muted));
    --main-dark: hsl(var(--main), var(--dark));

    --secondary: 358, 85%;
    --secondary-initial: hsl(var(--secondary), var(--initial));
    --secondary-muted: hsl(var(--secondary), var(--muted));
    --secondary-dark: hsl(var(--secondary), var(--dark));

    --tertiary: 119, 50%;
    --tertiary-initial: hsl(var(--tertiary), var(--initial));
    --tertiary-muted: hsl(var(--tertiary), var(--muted));
    --tertiary-dark: hsl(var(--tertiary), var(--dark));

    --bg-soft: hsl(0, 0%, 96%);

    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: hsl(227, 9%, 19%);
}

@font-face {
    font-family: intuitive;
    src: url("../fonts/intuitive.ttf");
}

h1,
h2 {
    font-family: intuitive;
}

h2 {
    text-align: center;
    font-size: 2.5em;
}

/* Classes utilitaires */

.button-important {
    background: var(--tertiary-initial);
    border: var(--tertiary-dark) solid thin;
    border-radius: 0.3em;
    color: white;

    font-size: 1.6em;

    padding: 0.3em;
    margin: 1em;

    transition: box-shadow 400ms;
    text-decoration: none;

    word-break: keep-all;
}

.button-important:hover {
    box-shadow: 0 0.2em 0.4em 0.1em hsla(var(--tertiary), var(--dark), 0.5);
}

/* Navigation */

.navbar {
    position: fixed;

    display: flex;
    flex-direction: column;

    background: var(--main-initial);

    font-family: intuitive;
    font-weight: normal;

    padding: 10px;
    margin: 0;
    width: 100%;
    top: 0;

    z-index: 1;
}

.main {
    margin-top: 6.2em;
}

.navbar #burger {
    margin: 0 10px;
}

.navbar > .liens > ul {
    list-style-type: none;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    font-size: 130%;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 130%;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar .top {
    display: flex;
    align-items: center;
}

.navbar .top > .logo > a {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;
}

.navbar #logoEtType {
    background: white;

    border-radius: 100%;
    margin-right: 1em;
}

.navbar h1 {
    font-size: 1.5em;
}

/* Slide */

.slide {
    max-width: 100%;
    min-width: 100%;

    max-height: calc(100vh - 6.2em);
    height: calc(100vh - 6.2em);
}

/* Nos engagements */

.cards {
    display: grid;
    grid-gap: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: rgb(204, 204, 204) solid thin;
    border-radius: 10px;

    background: var(--bg-soft);

    padding: 1.5em;
}

.card img {
    border-radius: 100%;
}

/* Ce que disent nos partenaries */

.citPartenaires > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.citation {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-soft);
}

cite {
    display: block;
    text-align: right;
}

/* Footer */

.footer {
    background: var(--main-dark);
    color: white;
    padding: 1em;
}

.footer > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .contact1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .social {
    display: flex;
}

.footer .social img {
    margin: 0 3px;
}

.footer ul {
    list-style: none;
    line-height: 140%;
}

/* Media-Queries */

@media (min-width: 768px) {
    /* Nos engagements */
    .cards {
        grid-template-columns: 1fr 1fr;
    }

    /* Footer */
    .footer > .container {
        flex-direction: row;
    }
}

@media (min-width: 1440px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .container {
        margin: auto;
        max-width: 1440px;
    }
}
